@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F9F9F9;
}

@layer components {
    .container {
        @apply max-w-6xl mx-auto px-4
    }
    .gradiendBg{
        @apply bg-gradient-to-r from-[#A22155] to-[#D6565B];
    }
    .blackAndWhiteBg{
        @apply bg-gradient-to-t from-[#060204a7] to-[#24242429];
    }
    
    .btnGradient{
        @apply bg-gradient-to-r from-[#EB033B] to-[#fe3e44];
    }
}

.navColorControl{
    background-color: white;
}

@media screen and (max-width: 768px) {
    .navColorControl{
        background-image: linear-gradient(to right, #A22155, #D6565B);
    }
}
